<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.email %>
        <p><%= link_to "編集", edit_user_path %></p>
      </h1>
    </section>
  </aside>
  
  <div class="col-md-8">
    <section class="favorite">
      <h3>お気に入り</h3>
      <table border="2" style="border-collapse: collapse; border-color: orange">
            <tr>
              <th>タイトル</th>
              <th>カテゴリー</th>
              <th>期間</th>
              <th>国・地域</th>
              <th>リンク</th>
            </tr>
            <% @favorite_microposts.each do |post| %>
            <tr>
            <td><%= post.title %></td>
            <td  width="80"><%= post.category %></td>
            <td  width="80"><%= post.term %></td>
            <td  width="80"><%= post.place %></td>
            <td><%= post.link %></td>
            </tr>
        <% end %>
      </table>
    </section>
  </div>
</div>