<h1>Edit micropost</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@micropost, url: admin_micropost_path) do |f| %>
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title %>
 
      <%= f.label :category, "カテゴリー" %>
      <%= f.select :category, ['教育', 'インターン', '文化交流', '語学留学','奨学金', 'ボランティア', '研修','ワーホリ', '女子教育', '国際会議'] %>
      
      <%= f.label :term, "期間" %>
      <%= f.select :term, ['1週間', '2週間', '1カ月', '2カ月', '3カ月', '半年', '1年', '1~2年', '好きなだけ', 'それぞれ'] %>
      
      <%= f.label :place, "国・地域" %>
      <%= f.select :place, ['アメリカ', '韓国', 'スペイン', '中国', 'ロシア', 'ヨーロッパ', 'アジア', '中東', '太平洋', '英語圏', 'どこでも'] %>
      
      <%= f.label :producer, "提供機関" %>
      <%= f.text_field :producer %>
      
      <%= f.label :link, "関連URL" %>
      <%= f.url_field :link %>
      
      <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
      
      <%= f.submit 'Update', class: "btn btn-primary", data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>