<h1>Microposts</h1>
<h2><%= link_to "Create new micropost", new_admin_micropost_path, class: "btn btn-warning" %></h2>

<ul>
  <table border="1">
    <tr>
      <th>タイトル</th>
      <th>画像</th>
      <th>カテゴリー</th>
      <th>期間</th>
      <th>国・地域</th>
      <th>提供機関</th>
      <th>リンク</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
    <% @microposts.each do |micropost| %>
    <tr>
    <td><%= micropost.title %></td>
    <td><%= image_tag micropost.picture.url if micropost.picture? %></td>
    <td><%= micropost.category %></td>
    <td><%= micropost.term %></td>
    <td><%= micropost.place %></td>
    <td><%= micropost.producer %></td>
    <td><%= micropost.link %></td>
    <td><%= link_to "edit", edit_admin_micropost_path(micropost) %></td>
    <td><%= link_to "delete", admin_micropost_path(micropost), method: :delete, 
                                         data: { confirm: "You sure?" } %></td>
    </tr>
    <% end %>
  </table>
</ul>