<div class="card col-md-3">
  <div class="micropost-card">
    <%= image_tag micropost.picture.url if micropost.picture? %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to micropost.title %></h5>
      <% if !Favorite.exists?(user_id: current_user.id, micropost_id: micropost.id) %>
      <%= link_to "お気に入り", micropost_add_path(micropost), method: :post %>
      <% else %>
      <%= link_to "お気に入り解除", micropost_add_path(micropost), method: :delete %>
      <% end %>
      <a href=<%= micropost.link %>, class="btn btn-warning">サイトのリンク</a>
    </div>
  </div>
</div>