<tr>
  <td><%= gravatar_for user, size: 30 %></td>
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
<% if user.admin? %>
  <td id="admin">An Admin User</td>
  <td><%= link_to "Unadministrate this user", admin_user_path(user, admin: false), method: :put,
    data: { confirm: 'Are you sure?' } %></td>
<% else %>
  <td>A Normal User</td>
  <td><%= link_to "Administrate this user", admin_user_path(user, admin: true), method: :put,
    data: { confirm: 'Are you sure?' } %></td>

<% end %>
<% unless current_user == user %>
  <td><%= link_to "Delete", admin_user_path(user), method: :delete,
  data: { confirm: 'Are you sure?' } %></td>
<% end %>
</tr>