<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "zerotavi",root_path, id: "logo" %>
    <nav>
      
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= form_tag microposts_path, :method => 'get',class: 'header-form pull-right' do %> <%#　projects_pathはモデル名で読みかえること %>
            <%= text_field_tag :search, params[:search], class: 'header-search' %>
            <%= submit_tag "Search", :name => nil, class: 'btn header-search-submit'%>
          <% end %>
        </li>
        <li>
          <%= link_to "Microposts", microposts_path %>
        </li>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Admin <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Users", admin_users_path %></li>
                <li><%= link_to "Microposts", admin_microposts_path %></li>
              </ul>
            </li>
          <% end %>
            
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Mypage <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Setting", edit_user_path(current_user) %></li>
              <li><%= link_to "Logout", logout_path, method: :delete %></li>
            </ul>
          </li>
            
        <% else %>
          <li><%= link_to "sign up",signup_path %></li>
          <li><%= link_to "Log in",login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>